<footer>
    <div class="footer">

        <div class="logo">
            <a href="/">
                <img src="/images/logo01.png" alt="Logo">
            </a> 
        </div>


        <div class="rrss">
            <h3>Connect with us</h3>

            <div class="logos">
                <li><i class="fab fa-facebook"></i></li>
                <li><i class="fab fa-instagram"></i></li>
                <li><i class="fab fa-whatsapp"></i></li>
            </div>

        </div>


        <div class="list">
            <h3>Sections</h3>
            <ul>
                <li><a href="/products">Home</a></li>
                <li><a href="/products">About</a></li>
                <li><a href="/products">Products</a></li>
                <li><a href="/products">Contact</a></li>
            </ul>
        </div>
        
        
        <div class="list">
            <h3>Categories</h3>
            <ul>
                <li><a href="/products">FOR MAN</a></li>
                <li><a href="/products">FOR WOMAN</a></li>
                <li><a href="/products">ADVENTURE</a></li>
                <li><a href="/products">SPORT</a></li>
            </ul>
        </div>


    </div>

    <!-- <div class="copyright">
        <p>Copyright 2021 - La Siesta arte</p>
    </div>


    <div id="go-top">
        <i class="fas fa-angle-double-up"></i>
    </div> -->

</footer>