<header>
    <div class="logo">
        <a href="/">
            <img src="/images/logo01.png" alt="Logo">
        </a> 
    </div>
    <nav>
        <ul class="menu">
            <div class="botones">
                <li><a href="/products">HOME</a></li>
                <li><a href="/products">ABOUT</a></li>
                <li><a href="/products">PRODUCTS</a></li>
                <li><a href="/products">CONTACT</a></li>
            </div>
        </ul>

        <!-- <ul>
            <li><a href="/users/login">Login</a></li>
            <li><a href="/users/register">Registro</a></li>
            <li>
                <form action="/users/logout" method="GET"><button type="submit">Cerrar sesión</button></form>
            </li>
        </ul> -->
    </nav>
</header>