<header>
    <div class="logo">
        <a href="/">
            <img src="/images/logo01.png" alt="Logo">
        </a> 
    </div>
    <nav>
        <ul class="menu">
            <li><a href="/products">Home</a></li>
            <li><a href="/products">About</a></li>
            <li><a href="/products">Products</a></li>
            <li><a href="/products">Contact</a></li>
        </ul>

        <!-- <ul>
            <li><a href="/users/login">Login</a></li>
            <li><a href="/users/register">Registro</a></li>
            <li>
                <form action="/users/logout" method="GET"><button type="submit">Cerrar sesión</button></form>
            </li>
        </ul> -->
    </nav>
</header>