<!DOCTYPE html>
<html>
  <head>
    <title>Cronos Watches</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body class="home">
    
    <!-- Header --> 
    <%- include('partials/header.ejs') %> 

    <div>
      <h2 class="products"> Productos </h2>
    </div>

  </body>
</html>
