<!DOCTYPE html>
<html>
  <head>
    <title>Cronos Watches</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
        integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
  </head>
  <body class="index">
    
    <!-- Header --> 
    <%- include('partials/header.ejs') %> 
 


    <!-- Sección con datos -->
    <section class="data">

      <!-- Dato 1 -->
      <div> 
        <i class="fas fa-leaf"></i>
        <h3>Eco-friendly</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda similique, consequuntur, et odit error placeat earum quaerat impedit quia, fuga vel laudantium dolorem accusamus.</p>
      </div>

      <!-- Dato 2 -->
      <div> 
        <i class="fas fa-leaf"></i>
        <h3>Eco-friendly</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda similique, consequuntur, et odit error placeat earum quaerat impedit quia, fuga vel laudantium dolorem accusamus.</p>
      </div>

      <!-- Dato 3 -->
      <div> 
        <i class="fas fa-leaf"></i>
        <h3>Eco-friendly</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda similique, consequuntur, et odit error placeat earum quaerat impedit quia, fuga vel laudantium dolorem accusamus.</p>
      </div>

    </section>


    <video autoplay muted loop>
      <source src="/images/videopublicidad.mp4" type="video/mp4">
    </video>

  
    <!-- Sección categorías -->
    <section class="categories">

      <!-- Categoría 1 -->
      <article class="categoria">
        <img src="/images/categories/man.jpg" alt="">
        <div>
          <div class="box">
            <h2>FOR MAN</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aut dolore eaque illum odio facere, minus veritatis temporibus, ipsa necessitatibus, quidem repellendus in.</p>
            <button>View more</button>
          </div>
        </div>

      </article>

      <!-- Categoría 2 -->
      <article class="categoria">
        
        <div>
          <div class="box">
            <h2>FOR WOMAN</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aut dolore eaque illum odio facere, minus veritatis temporibus, ipsa necessitatibus, quidem repellendus in.</p>
            <button>View more</button>
          </div>
        </div>

        <img src="/images/categories/woman.jpg" alt="">
      
      </article>


      <!-- Categoría 3 -->
      <article class="categoria">
        <img src="/images/categories/adventure.jpg" alt="">
        <div>
          <div class="box">
            <h2>ADVENTURE</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aut dolore eaque illum odio facere, minus veritatis temporibus, ipsa necessitatibus, quidem repellendus in.</p>
            <button>View more</button>
          </div>
        </div>

      </article>

      <!-- Categoría 4 -->
      <article class="categoria">
        
        <div>
          <div class="box">
            <h2>SPORT</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aut dolore eaque illum odio facere, minus veritatis temporibus, ipsa necessitatibus, quidem repellendus in.</p>
            <button>View more</button>
          </div>
        </div>

        <img src="/images/categories/sport.jpg" alt="">
      
      </article>

    </section>




   <!--  Sección productos -->
   <section class="products">

    <!-- Porducto 1 -->
    <div> 
      <img src="/images/watches/reloj01.jpg" alt="">
      <h3>Trekk</h3>
      <button>Buy!</button>
    </div>
    <!-- Porducto 2 -->
    <div> 
      <img src="/images/watches/reloj02.jpg" alt="">
      <h3>Sheen</h3>
      <button>Buy!</button>
    </div>
    <!-- Porducto 3 -->
    <div> 
      <img src="/images/watches/reloj03.jpg" alt="">
      <h3>Edifice</h3>
      <button>Buy!</button>
    </div>
    <!-- Porducto 4 -->
    <div> 
      <img src="/images/watches/reloj04.jpg" alt="">
      <h3>ProTrek</h3>
      <button>Buy!</button>
    </div>
    <!-- Porducto 5 -->
    <div> 
      <img src="/images/watches/reloj05.jpg" alt="">
      <h3>Beauty</h3>
      <button>Buy!</button>
    </div>

  </section>


  <!-- Footer --> 
  <%- include('partials/footer.ejs') %> 


  </body>
</html>
