header{
    padding: 35px;
    padding-bottom: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgba(45, 47, 49, 0.75);
}
/*LOGO*/

header .logo{
    justify-content: start;
    display: flex;
    flex-direction: row;
}
header .logo img{
    width: 180px;
}
header .logo h2{
    color: cornsilk;
}

/*BARRA DE NAVEGACIÓN*/
header nav{
    width: 80%;
}

header nav .menu {
    justify-content: end;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
header nav .menu .botones {
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 50px;
    width: 70%;
}

header nav .menu li{
    width: 10%;
    text-decoration: none;
}

header nav .menu li a{
    color: cornsilk;
    font-family: var(--titulos);
}