.home .data{
    margin: 900px auto 100px;
    color: cornsilk;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
}

.home .data div{
    width: 15%
}