
/* Sección data */

.index .data{
    margin: 650px auto 100px;
    color: cornsilk;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
}

.index .data div{
    width: 15%
}


/* Sección categorias */

.index .categoria{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.index .categoria img{
    width: 50%;
    height: 430px;
}

.index .categoria div{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: #B09E80;
}

.index .categoria div .box{
    width: 80%;
    padding-left: 20%;
}

.index .categoria div .box h2{
    margin: 20px;
    font-size: 35px;
}

.index .categoria div .box p{
    margin: 30px;
}

.index .categoria div .box button{
    margin: 40px;
    padding: 12px;
    border-radius: 15px;
    font-size: 17px;
    background-color: slategray;
    color: lightgoldenrodyellow;
    border: 2px solid black;
    cursor: pointer;
}


/* Sección productos */

.index .products{
    margin: 100px auto 100px;
    color: cornsilk;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
}

.index .products div{
    width: 15%;
}

.index .products img{
    width: 200px;
}

.index .products div button{
    margin-top: 15px;
    padding: 8px;
    border-radius: 10px;
    font-size: 12px;
    background-color:lightgoldenrodyellow ;
    color: slategray;
    border: 2px solid lightgray;
    cursor: pointer;
}


/* .index video{
    width: 100%;
    position: absolute;
    top: 0px;
    z-index: -1;
} */